@page
@model AdminDashboardModel
@{
}
<div class="text-center heading-color">
    <h2>Admin Home</h2>
</div>
<div class="row">
    <!-- Card 1 -->
    <div class="col-md-4 mb-3">
        <div class="card p-3 text-center">
            <div class="align-items-center d-flex icon-container justify-content-center my-3 mx-auto rounded-circle text-white">
                <img src="/images/stethoscope.svg" alt="" class="d-block" />
            </div>
            <a href="/Admin/ManageVeterinarians"><p class="text-color">Manage Veterinarians</p></a>
        </div>
    </div>

    <!-- Card 2 -->
    <div class="col-md-4 mb-3">
        <div class="card p-3 text-center">
            <div class="align-items-center d-flex icon-container justify-content-center my-3 mx-auto rounded-circle text-white">
                <img src="/images/ListChecks.svg" alt="" class="d-block" />
                <!-- Bootstrap Icon -->
            </div>

            <a href="/Admin/Services"><p class="text-color">Manage Services</p></a>

        </div>
    </div>
    <!-- Card 3 -->
    <div class="col-md-4 mb-3">
        <div class="card p-3 text-center">
            <div class="align-items-center d-flex icon-container justify-content-center my-3 mx-auto rounded-circle text-white">
                <div class="d-flex justify-content-center pe-1">
                    <img src="./aseets/images/supervisor_account.svg" alt="" class="d-block" />
                    <sup><img src="/images/Setting.svg" alt="" class="d-block" /></sup>
                </div>
                <!-- Bootstrap Icon -->
            </div>
            <p class="text-color">Manage Admins</p>
        </div>
    </div>
</div>
