@page
@model AdminDashboardModel
@{
}
<div class="text-center heading-color">
    <h2>Admin Dashboard</h2>
</div>
<div class="row flexcenter">
    <!-- Card 1 -->
    <div class="col-md-2 mb-3">
        <a href="/Admin/ManageVeterinarians">
        <div class="card p-3 text-center">
            <div class="align-items-center d-flex icon-container justify-content-center my-3 mx-auto rounded-circle text-white">
                <img src="/images/stethoscope.svg" alt="" class="d-block" />
            </div>
         <p class="">Manage<br /> Veterinarians</p>
        </div>
        </a>
    </div>

    <!-- Card 2 -->
    <div class="col-md-2 mb-3">
        <a href="/Admin/Services">
        <div class="card p-3 text-center">
            <div class="align-items-center d-flex icon-container justify-content-center my-3 mx-auto rounded-circle text-white">
                <img src="/images/ListChecks.svg" alt="" class="d-block" />
                <!-- Bootstrap Icon -->
            </div>

           <p class="">Manage<br /> Services</p>

        </div>
        </a>
    </div>
    <!-- Card 3 -->
    <div class="col-md-2 mb-3">
        <div class="card p-3 text-center">
            <div class="align-items-center d-flex icon-container justify-content-center my-3 mx-auto rounded-circle text-white">
                <div class="d-flex ps-3 justify-content-center pe-1">
                    <img src="/images/supervisor_account.svg" alt="" class="d-block" />
                    <sup><img src="/images/Setting.svg" alt="" class="d-block" /></sup>
                </div>
                <!-- Bootstrap Icon -->
            </div>
            <p class="">Manage Admins<br />Coming Soon</p>
        </div>
    </div>
</div>
