@page
@model VeterinarianApp.Pages.Admin.ManageServicesModel
@{
}
<div class="header my-5">
    <label class="admin-name-style">Hello, Admin Name</label>
    <small class="d-block admin-name-dis">Have a nice day at work and stay healthy!</small>
</div>

<div class="text-center heading-color mb-4">
    <h2>Manage Services</h2>
</div>
<!-- Manage Services Card -->
<div class="card mx-auto p-3 shadow border-0" style="max-width: 500px">
    <p class="Veterinarian-style">Services list</p>

    <!-- Service Item List -->
    <div class="table-responsive">
        <table class="table">
            <tr class="service-item">
                <td class="dark-text">
                    <span class="light-text">ID :</span> 201
                </td>
                <td class="service-name">Grooming</td>
                <td>
                    <button class="btn modify-btn">
                        <img src="/images/ManageVeterinarians/Edit-alt.svg"
                             alt="" />
                        Modify
                    </button>
                </td>
            </tr>
            <div class="d-none">
            <tr class="service-item">
                <td class="dark-text">
                    <span class="light-text">ID :</span> 201
                </td>
                <td class="service-name">Surgery</td>
                <td>
                    <button class="btn modify-btn">
                        <img src="/images/ManageVeterinarians/Edit-alt.svg"
                             alt="" />
                        Modify
                    </button>
                </td>
            </tr>
            <tr class="service-item">
                <td class="dark-text">
                    <span class="light-text">ID :</span> 201
                </td>
                <td class="service-name">X-Ray</td>
                <td>
                    <button class="btn modify-btn">
                        <img src="/images/ManageVeterinarians/Edit-alt.svg"
                             alt="" />
                        Modify
                    </button>
                </td>
            </tr>
            <tr class="service-item">
                <td class="dark-text">
                    <span class="light-text">ID :</span> 201
                </td>
                <td class="service-name">Checkup</td>
                <td>
                    <button class="btn modify-btn">
                        <img src="/images/ManageVeterinarians/Edit-alt.svg"
                             alt="" />
                        Modify
                    </button>
                </td>
            </tr>
            <tr class="service-item">
                <td class="dark-text">
                    <span class="light-text">ID :</span> 201
                </td>
                <td class="service-name">Grooming</td>
                <td>
                    <button class="btn modify-btn">
                        <img src="/images/ManageVeterinarians/Edit-alt.svg"
                             alt="" />
                        Modify
                    </button>
                </td>
            </tr>
            <tr class="service-item">
                <td class="dark-text">
                    <span class="light-text">ID :</span> 201
                </td>
                <td class="service-name">Surgery</td>
                <td>
                    <button class="btn modify-btn">
                        <img src="/images/ManageVeterinarians/Edit-alt.svg"
                             alt="" />
                        Modify
                    </button>
                </td>
            </tr>
            <tr class="service-item">
                <td class="dark-text">
                    <span class="light-text">ID :</span> 201
                </td>
                <td class="service-name">X-Ray</td>
                <td>
                    <button class="btn modify-btn">
                        <img src="/images/ManageVeterinarians/Edit-alt.svg"
                             alt="" />
                        Modify
                    </button>
                </td>
            </tr>
            <tr class="service-item">
                <td class="dark-text">
                    <span class="light-text">ID :</span> 201
                </td>
                <td class="service-name">Checkup</td>
                <td>
                    <button class="btn modify-btn">
                        <img src="/images/ManageVeterinarians/Edit-alt.svg"
                             alt="" />
                        Modify
                    </button>
                </td>
            </tr>
    </div>
    </table>
</div>
        </div>
