body {
    font-family:"Work Sans";
    background-color: #dad9d9 !important;
}
html, body {
    height: 100%;
}
/* navbar */
.border-bottom {
    border-bottom: solid 2px #a0a0a0 !important;
}

.btn-custom-Orange {
    background-color: #ff5e1a !important;
    color: #ffffff !important;
    border-color: #ffffff !important;
}


button {font-weight:600!important;

}

.btn-Orange {
    background-color: #ff5e1a!important;
}

.btn-Grey {
    background-color: #595959 !important;
    color:white!important
}

.btn-Grey:hover {
    background-color: #ff5e1a !important;
    
}




/* sidebar */
.sidebar-bg {
    background-color: #ff5e1a;
}

.sidebar-text {

    font-size: 11px;
    font-weight: 700;
    line-height: 12.9px;
}

.nav-link-Custom.active {
    border-right: 5px solid #ffffff;
    font-weight: bold;
}

.nav-link-custom.active {
    border-right: 5px solid #ff5e1a;
    font-weight: bold;
}

.nav-link a
{color:#595959 }

button a {
    color: white!important
}

.sidebar-text {
    font-size: 11px;
    font-weight: 700;
    line-height: 12.9px;
    color: #706f6f;
}

.nav-link-custom.active .sidebar-text,
.nav-link-custom.active .icon-custom {
    color: #ff5e1a;
}



.icon-container {
    background-color: #ff5e1a;
    width: 70px;
    height: 70px;
}



.text-color {
    color: #595959;
 
    font-size: 20px;
    font-weight: 400;
}

/* fsdfsdfsdf */

.Veterinarian-style {
 
    font-size: 22px;
    font-weight: 500;
    line-height: 25.81px;
    text-align: left;
    color: #595959;
}

.btn-success-custom {
    background-color: #73b88f;
    color: #ffffff;
    font-weight:600;
    font-size: 14px;
}

    .btn-success-custom:hover {
        background-color: #579871;
        color: #ffffff;
     
        font-size: 14px;
    }

    .btn-success-custom:active {
        background-color: #579871 !important;
        color: #ffffff !important;
        border-color: #579871 !important;
    }

.profile-heading {
 
    font-size: 18px;
    font-weight: 600;
    color: #706f6f;
}

.profile-dis {
 
    font-size: 16px;
    font-weight: 400;
    color: #e9aa62;
}

.highlight-text {
    color: #ff5e1a;
 
    font-size: 18px;
    font-weight: 600;
}

.Veterinarian-Detail {
    color: #666;
    font-weight: 500;
}

.btn-view {
    background-color: #ff5e1a;
    color: #ffffff;
}

    .btn-view:hover {
        background-color: #df561b;
        color: #ffffff;
    }

    .btn-view:active {
        background-color: #df561b !important;
        color: #ffffff !important;
        border-color: #df561b !important;
    }

.btn-Modify {
    background-color: #e9aa62;
    color: #ffffff;
}

    .btn-Modify:hover {
        background-color: #d19858;
        color: #ffffff;
    }

    .btn-Modify:active {
        color: #ffffff !important;
        background-color: #d19858 !important;
        border-color: #d19858 !important;
    }

.table > :not(caption) > * > * {
    border-bottom: 0px !important;
}

.rounded-end-5 {
    border-top-right-radius: 0px !important;
}

/* dssadasd */
.admin-name-style {
 
    font-size: 20px;
    font-weight: 700;
    color: #595959;
}

.admin-name-dis {
 
    font-size: 16px;
    font-weight: 400;
    color: #9a9a9a;
}

.service-name {
 
    font-size: 20px;
    font-weight: 400;
    line-height: 23.46px;
    text-align: left;
    color: #706f6f;
}

.modify-btn {
    background-color: #e9aa62;
    color: #ffffff;
}

    .modify-btn:hover {
        background-color: #d89b54;
        color: #ffffff;
    }

    .modify-btn:active {
        background-color: #d89b54 !important;
        color: #ffffff !important;
        border-color: #d19858 !important;
    }

/* fsdfsdfsdf */

.edit-page-heading {
 
    font-size: 25px;
    font-weight: 600;
    color: #ff5e1a;
}

.input-label-style {
 
    font-size: 16px;
    font-weight: 400;
    color: #595959;
}

.text-muted {
 
    font-size: 12px;
    font-weight: 400;
    color: #595959;
}

.custom-form-control {
   // background-color: #dad9d9;
}
.form-check-input:checked {
    background-color: #df561b !important;
    border-color: #df561b !important;
}

.form-check-input:focus {
    border-color: #df561b !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #df561b34 !important;
}

.form-control:focus {
    border-color: #df561b !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #df561b34 !important;
}

.form-select:focus {
    border-color: #df561b !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #df561b34 !important;
}

.body-bg {
    background-color: #dad9d9;
}

/* sdfdsfdsfds */

.rounded-left-pill {
    border-top-left-radius: 50rem;
    border-bottom-left-radius: 50rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.VetsTable {
    border-collapse: separate;
    border-spacing: 0 10px;
}

.VetProfileRow td {
    vertical-align:middle
}

.VetProfileRow {
    margin: 10px;
}


.profile-image {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    
    object-fit:cover;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    list-style: none;
    padding: 0;
}

    .services-grid li {
        font-size: 14px;
    }

.score {
    font-weight: bold;
    font-size: 18px;
    color: #000000;
}

.hyperLink {
 
    font-size: 14px;
    font-weight: 400;
    color: #ff5e1a;
    text-decoration: none;
}

.Filter {
 
    font-size: 16px;
    font-weight: 400;
}

.card-heding {
 
    font-size: 20px;
    font-weight: 400;
    color: #000000;
}

.score-text {
 
    font-size: 16px;
    font-weight: 400;
    color: #ff5e1a;
}

.adress {
 
    font-size: 12px;
    font-weight: 400;
    color: #8b8b8b;
    text-decoration: none;
}



.service-item {
 


    text-align: left;
    color: #a85151;
}

/* dasaasfsd */

.card-icon-container {
    background-color: #dad9d9;
    width: 70px;
    height: 70px;
}

.card-text-color {
    color: blue;
 
    font-size: 20px;
    font-weight: 400;
}


@media (max-width: 575.98px) {
    .custom-width {
        max-width: 400px;
    }
}

@media (min-width: 576px) and (max-width: 658.98px) {
    .custom-width {
        max-width: 450px;
    }
}

a {
    text-decoration: none !important
}

.text-white {
    text-decoration: none !important
}


/*Heart Code*/
/*.container {
    margin:50px;
}
*/
h1, h2, h3 {
    color: #ff5e1a!important;
 
    
    font-weight: 700!important;
    margin:20px
}


.card {
    cursor: pointer;
    border-radius: 30px;
    min-height: 200px;
    border: none;
    transition: background-color 0.5s ease;
}

.card p {
    font-weight: bold;
    color: #595959;
    transition: color 0.5s ease;
}

.card:hover {
    background-color: #706f6f;

}

.card:hover p   {
    color:white;
}


.flexcenter {
justify-content:center;
}

#sidebar {
    min-width:130px;
}

.panel {
    background-color:white;
    padding:10px;
}


table {
    margin-top:25px;
}