@page
@model VeterinarianApp.Pages.Veterinarians.DashboardModel
@{
    Layout = "~/Pages/Shared/_LayoutVet.cshtml";
}


<div class="text-center heading-color">
    <h2>Veterinarian Home</h2>
</div>
<div class="row d-flex justify-content-center pe-1">
    <!-- Card 1 -->
    <div class="col-md-4 mb-3">
        <a href="/Veterinarians/Profile">
        <div class="card p-3 text-center">
            <div class="align-items-center d-flex card-icon-container justify-content-center my-3 mx-auto rounded-circle text-white">
                <img src="@Url.Content(Model.Veterinarian.ProfilePhoto)"
                     alt="@Model.Veterinarian.FirstName"
                     class="d-block w-50" />
            </div>
             <p class="card-text-color">Update Profile</p>
        </div>
        </a>
    </div>
</div>