@page
@model VeterinarianApp.Pages.Veterinarians.DashboardModel
@{
    Layout = "~/Pages/Shared/_LayoutVet.cshtml";
}

<div class="header my-5">
    <label class="admin-name-style">Hello, @User.Identity.Name</label>
    <small class="d-block admin-name-dis">Have a nice day at work and stay healthy!</small>
</div>
<div class="text-center heading-color">
    <h2>Veterinarian Home</h2>
</div>
<div class="row d-flex justify-content-center pe-1">
    <!-- Card 1 -->
    <div class="col-md-4 mb-3">
        <div class="card p-3 text-center">
            <div class="align-items-center d-flex card-icon-container justify-content-center my-3 mx-auto rounded-circle text-white">
                <img src="./aseets/images/VeterinarianHome/stethoscope.svg"
                     alt=""
                     class="d-block w-50" />
            </div>
            <a href="/Veterinarians/Profile?id=@Model.VeterinarianId"> <p class="card-text-color">Update Profile</p></a>
        </div>
    </div>
</div>