@page
@model VeterinarianApp.Pages.Veterinarians.ProfileModel
@{
    Layout = "~/Pages/Shared/_LayoutVet.cshtml";
}
<div class="text-center heading-color mb-4">
    <h2>Edit Profile</h2>
</div>
<div class="bg-white shadow rounded p-4 mb-4">
    <div class="pb-3">
        <h2 class="edit-page-headng">Personal Information</h2>
    </div>


    <form method="post" class="px-4" enctype="multipart/form-data">


        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="Veterinarian.Id" />

        <label class="Veterinarian-style">Veterinarian Name</label>
        <div class="mt-3">
            <div class="row">
                <div class="form-group mb-3 col-md-6">
                    <label for="firstName" class="input-label-style">First Name (required)</label>
                    <input asp-for="Veterinarian.FirstName"
                           class="form-control custom-form-control"
                           required />
                    <span asp-validation-for="Veterinarian.FirstName" class="text-danger"></span>

                </div>
                <div class="form-group mb-3 col-md-6">
                    <label for="lastName" class="input-label-style">Last Name (required)</label>
                    <input asp-for="Veterinarian.LastName"
                           class="form-control custom-form-control"
                           required />
                    <span asp-validation-for="Veterinarian.LastName" class="text-danger"></span>

                </div>
            </div>

            <div class="form-group mb-3">
                <label for="email" class="input-label-style">Personal Email (required)</label>
                <small class="form-text text-muted d-block">
                    We promise not to share this with the public. This is how
                    we'll contact you about your profile.
                </small>
                <input asp-for="Veterinarian.Email"
                       class="form-control custom-form-control"
                       required />
                <span asp-validation-for="Veterinarian.Email" class="text-danger"></span>

            </div>

            <div class="form-group mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="updates" />
                <label class="form-check-label input-label-style input-label-style"
                       for="updates">Sign up for news & Updates</label>
            </div>

            <div class="form-group mb-3">
                <label for="password" class="input-label-style">Password</label>
                <input asp-for="Veterinarian.Password" type="password"
                       class="form-control custom-form-control" />
                <span asp-validation-for="Veterinarian.Password" class="text-danger"></span>

            </div>
            <div class="form-group mb-3">
                <label for="confirmPassword" class="input-label-style">Re-type Password</label>
                <input type="password" asp-for="Veterinarian.ConfirmPassword"
                       class="form-control custom-form-control" />
            </div>

            <div class="form-group mb-3">
                <label for="personalNumber" class="input-label-style">Personal Number (required)</label>
                <small class="form-text text-muted d-block">We promise not to share this with the public.</small>
                <input asp-for="Veterinarian.Phone" type="tel"
                       class="form-control custom-form-control"
                       required />
                <span asp-validation-for="Veterinarian.Phone" class="text-danger"></span>

            </div>

            <div class="form-group mb-3">
                <label for="license" class="input-label-style">Veterinary License</label>
                <small class="form-text text-muted d-block">
                    This will not be shared with the public. We will use it to
                    validate your credentials.
                </small>
                <input asp-for="Veterinarian.LicenseNo"
                       class="form-control custom-form-control"
                       required />
                <span asp-validation-for="Veterinarian.LicenseNo" class="text-danger"></span>

            </div>

            <div class="form-group mb-3 d-md-flex gap-5 align-items-baseline">
                <label asp-for="ProfilePhoto" class="input-label-style">Profile Picture</label>
                <div class="btn btn-view w-25" onclick="document.getElementById('ProfilePhoto').click()">
                    <input type="file" asp-for="ProfilePhoto"
                           class="custom-form-control-file"
                           onchange="previewImage(event)"
                           style="opacity: 0; position: absolute; z-index: -1" />
                    <span>Upload File</span>
                </div>
                @if (!string.IsNullOrEmpty(Model.Veterinarian.ProfilePhoto))
                {
                    <div>
                        <img id="profilePreview" src="@Url.Content(Model.Veterinarian.ProfilePhoto)" alt="Profile Picture" style="max-width: 200px; height: auto;" />
                    </div>
                }
            </div>
        </div>
        <!-- Social Media -->
        <div class="pt-3">
            <div class="pb-3">
                <label class="edit-page-headng">Social Media</label>
            </div>

            <div class="form-group mb-3">
                <label for="twitter" class="input-label-style">Twitter</label>
                <input asp-for="Veterinarian.X" class="form-control custom-form-control" />
                <span asp-validation-for="Veterinarian.X" class="text-danger"></span>

            </div>

            <div class="form-group mb-3">
                <label for="facebook" class="input-label-style">Facebook</label>
                <input asp-for="Veterinarian.FaceBook"
                       class="form-control custom-form-control" />
                <span asp-validation-for="Veterinarian.FaceBook" class="text-danger"></span>

            </div>

            <div class="form-group mb-3">
                <label for="instagram" class="input-label-style">Instagram/Threads</label>
                <input asp-for="Veterinarian.Instagram"
                       class="form-control custom-form-control" />
                <span asp-validation-for="Veterinarian.Instagram" class="text-danger"></span>

            </div>

            <div class="form-group mb-3">
                <label for="youtube" class="input-label-style">YouTube</label>
                <input asp-for="Veterinarian.Youtube"
                       class="form-control custom-form-control" />
                <span asp-validation-for="Veterinarian.Youtube" class="text-danger"></span>

            </div>
            <div class="form-group mb-3">
                <label for="youtube" class="input-label-style">YouTube</label>
                <input asp-for="Veterinarian.TIkTok"
                       class="form-control custom-form-control" />
                <span asp-validation-for="Veterinarian.TIkTok" class="text-danger"></span>

            </div>
        </div>


        <!-- Administrator Purposes Section -->
        <div class="py-3">
            <label class="edit-page-headng">Administrator Purposes</label>
        </div>

        <div class="mb-3">
            <label for="vetHuntScore" class="form-label input-label-style">Vet Hunt Score</label>
            <input asp-for="Veterinarian.VetHuntScore" disabled
                   class="form-control custom-form-control" />
            <span asp-validation-for="Veterinarian.VetHuntScore" class="text-danger"></span>

        </div>

        <div class="mb-3">
            <label for="approvalStatus" class="form-label input-label-style">Approval Status</label>
            <input asp-for="Veterinarian.ApprovedBy" disabled
                   class="form-control custom-form-control" />
            <span asp-validation-for="Veterinarian.ApprovedBy" class="text-danger"></span>

        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-success-custom w-25">Submit</button>
        </div>
    </form>
</div>

<script>
    function previewImage(event) {
        const input = event.target;
        const preview = document.getElementById('profilePreview');

        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result; // Update the src with the selected file
            };
            reader.readAsDataURL(input.files[0]); // Read the file as a data URL
        }
    }
</script>